body{
            background-color: coral;
            font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    color: white;
    /* font-size: 24px; */
}

div h2{
    color: aqua;
}

/* IDs y clases */
/* IDs son únicos por elemento */
/* Clases son repetibles */
#párrafo-especial{
    font-size: 1.5em;
    font-weight: bold;
}
.párrafo{
    color: blueviolet;
    font-style: italic;
}

a, img{
    display: block;
}

a{
    margin: 50px 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: aqua;
}

img{
    width: 70%;
    margin: auto;
}